In [1]:
# Per questo progetto ho ideato il database di una libreria con alcuni libri già presenti per poi impostare le varie funzioni richieste da start2impact.

# DEFINISCO I LIBRI GIA' PRESENTI NEL DATABASE DELLA LIBRERIA

# Per ogni genere creo un suo dizionario. Il genere fantasy ha due dizionari annidati per distinguere le saghe dalle nuove uscite.

In [5]:
fantasy = {
    'saghe': {
        'titolo': ['Game of Thrones', 'Harry Potter', 'Il signore degli anelli', 'Le cronache di Narnia', 'Nevernight'],
        'autore': ['George R. R. Martin', 'J K Rowling', 'John R. R. Tolkien', 'Clive S. Lewis', 'Jay Kristoff'],
        'anno_pubblicazione': [1997, 1998, 1954, 1950, 2016],
        'prezzo': [30.75, 12.90, 47.50, 22.80, 19.00]
    },
    'nuove uscite': {
        'titolo': ['Il maestro di spada', 'Abissi e Incanto', 'The Final Strife', 'Sister of Swords and Shadow', 'Guilty Drunk in Love'],
        'autore': ['Sam Feuerbach', 'Ella Archer', 'Saara El-Arifi', 'Bates Laura', 'Rokia'],
        'anno_pubblicazione': [2024, 2024, 2024, 2024, 2024],
        'prezzo': [19.99, 22.80, 13.99, 17.10, 16.05]
    }
}

In [5]:
#Dato che ogni valore della chiave è contenuto in una lista, si può accedere a ogni singolo libro o consultare un genere specificando la chiave del dizionario e il suo indice.
#ESEMPIO per trovare il titolo di Harry Potter
print(fantasy['saghe']['titolo'][1])

Harry Potter

In [7]:
#Creo poi il dizionario degli altri due generi (saggistica e narrativa russa) con i loro relativi sottodizionari: per saggistica storia e religione,
# mentre per narrativa russa a seconda dell'autore dei libri: Dostoesvkij, Tolstoj e Puskin.

In [7]:
saggistica = {
    'storia': {
        'titolo': ['Le repubbliche marinare', 'Il labirinto di gaza', 'L\'odio per gli intellettuali in america', 'C\'era una volta in Italia - Gli anni settanta', 'Tempi di rivolta'],
        'autore': ['Arsenio Frugoni', 'Arturo Marzano', 'Richard Hofstadter', 'Enrico Deaglio', 'Aram Mattioli'],
        'anno_pubblicazione': [2024, 2024, 2024, 2024, 2024],
        'prezzo': [28.50, 26.60, 26.60, 33.25, 30.40]
    },
    'religione': {
        'titolo': ['Profondo come il mare, leggero come il cielo', 'Ritual', 'Trasformare la mente', 'Educazione indiana'],
        'autore': ['Gianluca Gotto', 'Dimitris Xygalatas', 'Gyatso Tenzin (Dalai Lama)', 'Ram Pace'],
        'anno_pubblicazione': [2023, 2023, 2009, 2003],
        'prezzo': [18.52, 21.85, 9.02, 17.10]
    },
}

In [9]:
narrativa_russa = {
    'Dostoevskij': {
        'titolo': ['Il giocatore', 'Delitto e castigo', 'L\'idiota', 'I fratelli Karamazov'],
        'anno_pubblicazione': [1856, 1866, 1869, 1880],
        'prezzo': [9.02, 17.56, 13.77, 7.60]
    },
    'Tolstoj': {
        'titolo': ['Anna Karenina', 'Guerra e pace', 'Resurrezione'],
        'anno_pubblicazione': [1877, 1869, 1899],
        'prezzo': [12.35, 19.00, 10.49]
    },
    'Puskin': {
        'titolo': ['La dama di picche e altri racconti', 'La figlia del capitano', 'Evgenij Onegin'],
        'anno_pubblicazione': [1834, 1836, 1833],
        'prezzo': [11.00, 9.50, 6.18]
    },
}

In [77]:
# CREO IL DATABASE PRINCIPALE DELLA LIBRERIA CHE CONTIENE I 3 DIZIONARI DEI GENERI GIA' PRESENTI

In [11]:
database_libreria = {'genere1': fantasy, 'genere2': saggistica, 'genere3': narrativa_russa}

In [15]:
# DEFINISCO L'INTERFACCIA DEL MENU HOME DEL DATABASE DELLA LIBRERIA

def menu(scelta):
    opzioni = {
        '1': "Hai scelto di inserire un libro in un nuovo genere.",
        '2': "Hai scelto di aggiornare una categoria già esistente.",
        '3': "Hai scelto di consultare il database.",
        '4': "Hai scelto di cercare un libro.",
        '5': "Hai scelto di effettuare una ricerca avanzata.",
        '6': "Hai scelto di consultare le statistiche.",
        '7': "Hai scelto di uscire dal programma.\nAlla prossima!"
    }
    return opzioni.get(scelta, "Scelta non valida. Riprova.")

# Ogni chiave è un numero a cui è abbinato come valore una scelta del menu dell'interfaccia.
# La funzione 'menu' utilizza il metodo 'get' del dizionario, che permette di restituire il valore corrispondente alla chiave fornita (scelta).
# Nel caso in cui la chiave non sia presente nel dizionario, il metodo 'get' restituisce un valore di default, che in questo caso è "Scelta non valida. Riprova."

scelta = input("Inserisci il numero dell'opzione desiderata: ")
result = menu(scelta)
print(result)

Inserisci il numero dell'opzione desiderata:  1

Hai scelto di inserire un libro in un nuovo genere.

In [81]:
# DEFINISCO IL COMANDO PER REGISTRARE NUOVI LIBRI IN NUOVI GENERI.
# Funzione che serve ad aggiungere nuovi generi al dizionario database_libreria.
# I parametri della funzione sono quindi i valori delle chiavi del dizionario del nuovo genere.

In [17]:
def inserire_libro_nuovo_genere(nome_genere, titolo, autore, anno_pubblicazione, prezzo):
    dettagli_libro = {
         'titolo': [titolo],
         'autore': [autore],
         'anno_pubblicazione': [anno_pubblicazione],
         'prezzo': [prezzo]}
# Dato che in database_libreria ogni chiave termina con un numero (genere1, genere2 ecc), desidero che la funzione attribuisca un numero crescente al nuovo genere da inserire.
    max_numero = max(int(key.replace('genere', '')) for key in database_libreria.keys())
    nuova_chiave = 'genere' + str(max_numero + 1)
# Così faccio in modo di definire anche il sottodizionario del nuovo genere, con il nome vero e proprio del genere e tutti i dettagli del suo primo libro.
    database_libreria[nuova_chiave] = {nome_genere: dettagli_libro}
    print(f"Nuovo libro aggiunto nel {nuova_chiave} - ('{nome_genere}'): {database_libreria[nuova_chiave]}")

In [53]:
#ESEMPIO aggiungendo un libro al nuovo genere narrativa_italiana in database_libreria:

In [19]:
inserire_libro_nuovo_genere('narrativa_italiana', 'Uno nessuno e centomila', 'Luigi Pirandello', 1926, 6.00)

Nuovo libro aggiunto nel genere4 - ('narrativa_italiana'): {'narrativa_italiana': {'titolo': ['Uno nessuno e centomila'], 'autore': ['Luigi Pirandello'], 'anno_pubblicazione': [1926], 'prezzo': [6.0]}}

In [83]:
# DEFINISCO IL COMANDO PER REGISTRARE NUOVI LIBRI IN CATEGORIE GIA' ESISTENTI.
# Funzione che deve quindi aggiornare un dizionario già esistente.

In [21]:
def aggiornare_genere(dizionario, nome_categoria, titolo, autore, anno, prezzo):
    # Verifica l'esistenza della categoria e delle liste all'interno del dizionario
    if nome_categoria in dizionario and all(
            chiave in dizionario[nome_categoria] for chiave in ['titolo', 'autore', 'anno_pubblicazione', 'prezzo']):
        # Dato che la funzione deve aggiornare liste già esistenti, bisogna aggiungere il titolo alla lista dei titoli e così anche per le altre chiavi.
        dizionario[nome_categoria]['titolo'].append(titolo)
        dizionario[nome_categoria]['autore'].append(autore)
        dizionario[nome_categoria]['anno_pubblicazione'].append(anno)
        dizionario[nome_categoria]['prezzo'].append(prezzo)

        print(
            f"Aggiunto un nuovo libro alla categoria '{nome_categoria}' con dettagli: titolo={titolo}, autore={autore}, anno={anno}, prezzo={prezzo}")
    else:
        print("Errore: la categoria non esiste o il dizionario della categoria è incompleto.")

In [70]:
#ESEMPIO CON FANTASY: aggiungo un nuovo libro al suo sottodizionario nuove uscite

In [23]:
aggiornare_genere(fantasy, 'nuove uscite', 'Phantasma', 'Kaylie Smith', 2025, 17.10)

Aggiunto un nuovo libro alla categoria 'nuove uscite' con dettagli: titolo=Phantasma, autore=Kaylie Smith, anno=2025, prezzo=17.1

In [98]:
# DEFINISCO LA FUNZIONE PER VISUALIZZARE TUTTI GLI ELEMENTI PRESENTI NEL DATABASE.
# Faccio riferimento al dizionario che contiene tutti i generi presenti, ovvero database_libreria

In [25]:
def visualizzazione():
    print(database_libreria)

In [27]:
visualizzazione()

{'genere1': {'saghe': {'titolo': ['Game of Thrones', 'Harry Potter', 'Il signore degli anelli', 'Le cronache di Narnia', 'Nevernight'], 'autore': ['George R. R. Martin', 'J K Rowling', 'John R. R. Tolkien', 'Clive S. Lewis', 'Jay Kristoff'], 'anno_pubblicazione': [1997, 1998, 1954, 1950, 2016], 'prezzo': [30.75, 12.9, 47.5, 22.8, 19.0]}, 'nuove uscite': {'titolo': ['Il maestro di spada', 'Abissi e Incanto', 'The Final Strife', 'Sister of Swords and Shadow', 'Guilty Drunk in Love', 'Phantasma'], 'autore': ['Sam Feuerbach', 'Ella Archer', 'Saara El-Arifi', 'Bates Laura', 'Rokia', 'Kaylie Smith'], 'anno_pubblicazione': [2024, 2024, 2024, 2024, 2024, 2025], 'prezzo': [19.99, 22.8, 13.99, 17.1, 16.05, 17.1]}}, 'genere2': {'storia': {'titolo': ['Le repubbliche marinare', 'Il labirinto di gaza', "L'odio per gli intellettuali in america", "C'era una volta in Italia - Gli anni settanta", 'Tempi di rivolta'], 'autore': ['Arsenio Frugoni', 'Arturo Marzano', 'Richard Hofstadter', 'Enrico Deaglio', 'Aram Mattioli'], 'anno_pubblicazione': [2024, 2024, 2024, 2024, 2024], 'prezzo': [28.5, 26.6, 26.6, 33.25, 30.4]}, 'religione': {'titolo': ['Profondo come il mare, leggero come il cielo', 'Ritual', 'Trasformare la mente', 'Educazione indiana'], 'autore': ['Gianluca Gotto', 'Dimitris Xygalatas', 'Gyatso Tenzin (Dalai Lama)', 'Ram Pace'], 'anno_pubblicazione': [2023, 2023, 2009, 2003], 'prezzo': [18.52, 21.85, 9.02, 17.1]}}, 'genere3': {'Dostoevskij': {'titolo': ['Il giocatore', 'Delitto e castigo', "L'idiota", 'I fratelli Karamazov'], 'anno_pubblicazione': [1856, 1866, 1869, 1880], 'prezzo': [9.02, 17.56, 13.77, 7.6]}, 'Tolstoj': {'titolo': ['Anna Karenina', 'Guerra e pace', 'Resurrezione'], 'anno_pubblicazione': [1877, 1869, 1899], 'prezzo': [12.35, 19.0, 10.49]}, 'Puskin': {'titolo': ['La dama di picche e altri racconti', 'La figlia del capitano', 'Evgenij Onegin'], 'anno_pubblicazione': [1834, 1836, 1833], 'prezzo': [11.0, 9.5, 6.18]}}, 'genere4': {'narrativa_italiana': {'titolo': ['Uno nessuno e centomila'], 'autore': ['Luigi Pirandello'], 'anno_pubblicazione': [1926], 'prezzo': [6.0]}}}

In [118]:
# DEFINISCO LA FUNZIONE DI RICERCA LIBRI IN BASE AGLI ATTRIBUTI
# La prima funzione di ricerca serve a cercare i libri per categoria, restituendo una lista dei loro titoli.

In [29]:
def ricerca_per_titolo(dizionario, categoria):
    # Mi assicuro che la categoria esista nel dizionario
    if categoria in dizionario:
        # Accedo direttamente alla lista di titoli nella categoria
        lista_titoli = dizionario[categoria]['titolo']
        # Creo una stringa con tutti i titoli separati da virgole
        titoli_concatenati = ', '.join(lista_titoli)
        print(f"Ecco i libri disponibili nella categoria {categoria}: {titoli_concatenati}")
    else:
        print(f"Errore: la categoria '{categoria}' non esiste nel dizionario.")

In [126]:
# ESEMPIO cercando quali sono i libri di Dostoevskij presenti del database

In [31]:
ricerca_per_titolo(narrativa_russa, 'Dostoevskij')

Ecco i libri disponibili nella categoria Dostoevskij: Il giocatore, Delitto e castigo, L'idiota, I fratelli Karamazov

In [57]:
# La seconda funzione di ricerca serve a cercare informazioni più specifiche dei libri in base alla loro categoria, come il solo prezzo.

In [33]:
def ricerca_per_attributo_specifico(dizionario, categoria, chiave):
    if categoria in dizionario:
        if chiave in dizionario[categoria]:
            print(f"L'attributo '{chiave}' nella categoria '{categoria}' è: {dizionario[categoria][chiave]}")
        else:
            print(f"L'attributo '{chiave}' non è presente nella categoria '{categoria}'.")
    else:
        print(f"La categoria '{categoria}' non è presente nel dizionario.")

In [35]:
# ESEMPIO cercando il costo delle nuove uscite del genere fantasy.

ricerca_per_attributo_specifico(fantasy, 'nuove uscite', 'prezzo')

L'attributo 'prezzo' nella categoria 'nuove uscite' è: [19.99, 22.8, 13.99, 17.1, 16.05, 17.1]

In [85]:
# DEFINISCO LA FUNZIONE DI CALCOLO DELLE STATISTICHE.
# Imposto la statistica per contare i libri del dataset usciti nel 1800 per genere.

In [59]:
def statistiche_1800(dizionario):
    conta = 0
# La variabile "conta" sarà usata per tracciare il numero totale di libri pubblicati nel range di anni specificato.
    for chiave, valore in dizionario.items():
# La funzione procede con un ciclo `for` per iterare sulle coppie chiave-valore del dizionario passato come argomento.
        if isinstance(valore, dict):
# Utilizzo poi il valore condizionale if con la funzione "isinstance" per verificare se un valore nel dizionario è a sua volta un dizionario,
# dato che nel mio database possiedo dizionari annidati e altrimenti non mi andrebbe a contare tutti i libri.
            for sotto_chiave, sotto_valore in valore.items():
                # Vado quindi a iterare sui valori del dizionario annidato.
                if sotto_chiave.startswith('anno') and isinstance(sotto_valore, list):
                    # Iterazione su ogni anno nella lista sotto_valore per verificare se ciascun elemento (anno) rientra nel range specificato.
                    conta += sum(1 for anno in sotto_valore if 1800 <= anno < 1900)
    return conta

In [61]:
#ESEMPIO con il genere narrativa_russa

statistiche_1800(narrativa_russa)

10

In [63]:
# DEFINISCO LA FUNZIONE DI FILTRAGGIO AVANZATO.
# La funzione serve a filtrare i libri usciti dopo il 2000 e che costano meno di 20€

In [73]:
def filtraggio_avanzato(dizionario):
    # La variabile "conta" sarà usata come contatore per tracciare il numero totale di libri pubblicati nel range di anni specificato.
    conta = 0
    # Ciclo attraverso ogni coppia chiave-valore nel dizionario.
    for chiave, valore in dizionario.items():
        # Controlla se il valore associato a ciascuna chiave è un dizionario. Questo è necessario perché il valore deve contenere ulteriori dettagli come prezzo e anno.
        if isinstance(valore, dict):
            # Utilizzo poi il valore condizionale if con la funzione "isinstance" per verificare se un valore nel dizionario è a sua volta un dizionario.
            prezzi = None
            anni_pubblicazione = None
            # Inizializzo due variabili a None per memorizzare i prezzi e gli anni di pubblicazione dei libri se e quando verranno identificati nel sotto-dizionario.
            for sotto_chiave, sotto_valore in valore.items():
                # Ciclo attraverso ogni coppia chiave-valore nel sotto-dizionario, andando a controllare le chiavi prezzo e anno_pubblicazione del sotto-dizionario.
                if sotto_chiave == 'prezzo':
                    prezzi = sotto_valore
                    # Controllate le chiavi, assegno la lista degli anni di pubblicazione alle variabili "prezzi" e "anni_pubblicazione".
                elif sotto_chiave == 'anno_pubblicazione':
                    anni_pubblicazione = sotto_valore
            if prezzi is not None and anni_pubblicazione is not None:
                # Verifico che entrambe le liste, prezzi e anni di pubblicazione, siano state trovate e non siano None.
                for prezzo, anno in zip(prezzi, anni_pubblicazione):
                    # Combino le liste di prezzi e anni di pubblicazione usando la funzione zip() per creare coppie di prezzo e anno per ogni libro.
                    if prezzo < 20.0 and anno > 2000:
                        # Se un libro soddisfa entrambi i criteri, il contatore aumenta di 1.
                        conta += 1
    return conta

In [75]:
# ESEMPIO con il genere fantasy

filtraggio_avanzato(fantasy)

5

In [1]:
import pandas as pd

In [13]:
Libreria = pd.DataFrame(database_libreria)

In [15]:
print(Libreria)

                                                        genere1  \
saghe         {'titolo': ['Game of Thrones', 'Harry Potter',...
nuove uscite  {'titolo': ['Il maestro di spada', 'Abissi e I...
storia                                                      NaN
religione                                                   NaN
Dostoevskij                                                 NaN
Tolstoj                                                     NaN
Puskin                                                      NaN

                                                        genere2  \
saghe                                                       NaN
nuove uscite                                                NaN
storia        {'titolo': ['Le repubbliche marinare', 'Il lab...
religione     {'titolo': ['Profondo come il mare, leggero co...
Dostoevskij                                                 NaN
Tolstoj                                                     NaN
Puskin                                                      NaN

                                                        genere3
saghe                                                       NaN
nuove uscite                                                NaN
storia                                                      NaN
religione                                                   NaN
Dostoevskij   {'titolo': ['Il giocatore', 'Delitto e castigo...
Tolstoj       {'titolo': ['Anna Karenina', 'Guerra e pace', ...
Puskin        {'titolo': ['La dama di picche e altri raccont...

In [17]:
Libreria.head()

,genere1,genere2,genere3
saghe,"{'titolo': ['Game of Thrones', 'Harry Potter',...",NaN,NaN
nuove uscite,"{'titolo': ['Il maestro di spada', 'Abissi e I...",NaN,NaN
storia,NaN,"{'titolo': ['Le repubbliche marinare', 'Il lab...",NaN
religione,NaN,"{'titolo': ['Profondo come il mare, leggero co...",NaN
Dostoevskij,NaN,NaN,"{'titolo': ['Il giocatore', 'Delitto e castigo..."

In [19]:
Libreria.tail()

,genere1,genere2,genere3
storia,NaN,"{'titolo': ['Le repubbliche marinare', 'Il lab...",NaN
religione,NaN,"{'titolo': ['Profondo come il mare, leggero co...",NaN
Dostoevskij,NaN,NaN,"{'titolo': ['Il giocatore', 'Delitto e castigo..."
Tolstoj,NaN,NaN,"{'titolo': ['Anna Karenina', 'Guerra e pace', ..."
Puskin,NaN,NaN,{'titolo': ['La dama di picche e altri raccont...

In [21]:
Libreria.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7 entries, saghe to Puskin
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   genere1  2 non-null      object
 1   genere2  2 non-null      object
 2   genere3  3 non-null      object
dtypes: object(3)
memory usage: 224.0+ bytes